.variations-table{
    clear: both;
    margin-bottom: 10px;
}
#variations .filters,
#variations .filter{
    display: inline-block;
    vertical-align: top;
}
#variations .filter{
    margin: 0 5px 10px;
}
#variations table.variations th{
    cursor: pointer;
}
#variations table.variations th.image_link{
    width: 100px;
}
#variations table.variations th.add-to-cart{
    width: 165px;
}
#variations table.variations th.quantity,
#variations table.variations th.price_html{
    width: 90px;
}
#variations table.variations input.qty{
    width: 60px;
}
#variations table.variations th.sku{
    width: 150px;
}

#variations table.variations th.active {
  color: #000;
}

#variations table.variations th.active .arrow {
  opacity: 1;
}

#variations table.variations .arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}
#variations table.variations th.image_link .arrow{
    display: none;
}

#variations table.variations .arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #666666;
}

#variations table.variations .arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666666;
}

.variations-table h3.available-title {
    font-size: 18px;
    margin-bottom: 10px;
}