.variations-table {
    clear: both;
    margin-bottom: 10px;
}

#variations .filters,
#variations .filter {
    display: inline-block;
    vertical-align: bottom;
}

#variations .variation-filters {
    margin-bottom: 10px;
}

#variations .filter {
    margin: 0 5px;
}

#variations .filter:first-child {
    margin-left: 0;
}

#variations .filter label {
    display: inline-block;
}

#variations table.variations th {
    cursor: pointer;
    white-space: nowrap;
    display: table-cell;
    border: #eee solid 1px;
    padding: 10px;
    vertical-align: middle;
}

#variations table.variations th.image_link {
    width: 140px;
}

#variations table.variations th.add-to-cart {
    width: 165px;
}

#variations table.variations th.quantity,
#variations table.variations th.price_html,
#variations table.variations th.weight_html{
    width: 90px;
}

#variations table.variations input.qty {
    width: 60px;
}

#variations table.variations th.sku {
    width: 150px;
}

#variations table.variations th.active {
    color: #000;
}

#variations table.variations th.active .arrow {
    opacity: 1;
}

#variations table.variations th .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
}

#variations table.variations th.image_link .arrow {
    display: none;
}

#variations table.variations tr{
    display: table-row;
}

#variations table.variations td {
    display: table-cell;
    border: #eee solid 1px;
    padding: 10px;
    vertical-align: middle;
}

#variations table.variations .arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #666666;
}

#variations table.variations .arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #666666;
}

.variations-table h3.available-title {
    font-size: 18px;
    margin-bottom: 10px;
}

#variations .add-to-cart button {
    white-space: nowrap;
}

#variations .image_link img {
    width: 100px;
    height: auto;
}

.available-options-btn {
    margin-bottom: 15px;
}

#variations input,
#variations select{
    border-radius: 0;
    border: solid #eee 1px;
    padding: 5px;
    height: 2.5em;
}

@media screen and (max-width: 767px) {
    #variations table.variations td:before {
        content: attr(data-title);
        text-transform: uppercase;
        font-weight: bold;
        display: table-cell;
        padding-right: 10px;
        width: 140px;
    }
    #variations table.variations td.image_link:before {
        display: none;
    }
    #variations table.variations td>span {
        display: table-cell;
    }
    #variations table.variations td {
        max-width: none;
        display: table;
        line-height: 1.5em;
        width: 100%;
    }
    #variations table.variations td.image_link {
        text-align: center;
        display: block;
    }
    #variations table.variations td.image_link img {
        width: auto;
    }
    #variations table.variations thead {
        display: none;
    }
    #variations table.variations input.qty {
        width: 100%;
        text-align: center;
        float: initial;
    }
    #variations table.variations td.quantity,
    #variations table.variations td.add-to-cart {
        width: 50%;
        display: inline-block;
        text-align: center;
    }
    #variations table.variations td.quantity {
        line-height: 2em;
    }
    #variations table.variations td.add-to-cart button {
        margin: 0 auto;
        width: 100%;
    }
}
